---
import { invoiceData } from '~/data/invoiceData';
import {
  H2,
  H3,
  Highlight,
  LabeledListItem,
  Link,
  List,
  ListItem,
  Pre,
  Watermark,
} from '~/components';
import {
  addressFormatter,
  locationFormatter,
  priceFormatter,
} from '~/utils';
import '@fontsource/ibm-plex-mono/300.css';
import '@fontsource/lexend/300.css';
import '@fontsource/lexend/600.css';

const currentYear = new Date().getFullYear();

const {
  bankingDetails: {
    beneficiaryBank,
    beneficiaryCustomer,
    intermediaryBank,
  },
  description,
  dueDate,
  id,
  issuedAt,
  payee,
  payer,
  total,
} = invoiceData;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <title>Invoice #{id} // jhonnymoreira</title>
  </head>
  <body class='box-border flex h-screen flex-col p-12 text-stone-800'>
    <header class='mb-8 box-border flex flex-col'>
      <h1 class='text-3xl font-semibold uppercase'>
        Invoice <span class='text-indigo-700'>#{id}</span>
      </h1>
    </header>
    <main class='flex flex-col'>
      <div class='mb-8 grid grid-cols-3 gap-8'>
        <section class='flex flex-col'>
          <H2>Issued by</H2>
          <List>
            <ListItem>{payee.name} (CNPJ: {payee.EIN})</ListItem>
            <ListItem>
              {addressFormatter.format(payee)}
            </ListItem>
            <ListItem>
              {locationFormatter.format(payee)}
            </ListItem>
            <ListItem>
              <Link
                href={`mailto:${payee.email}?subject=Invoice+#${id}`}
                title='Email Jhonny about this invoice'>
                {payee.email}
              </Link>
              // <span>{payee.phone}</span>
            </ListItem>
          </List>
        </section>
        <section class='flex flex-col'>
          <H2>Billed to</H2>
          <List>
            <ListItem>{payer.name}</ListItem>
            <ListItem>{addressFormatter.format(payer)}</ListItem>
            <ListItem>{locationFormatter.format(payer)}</ListItem>
          </List>
        </section>
        <section class='flex flex-col'>
          <H2>Invoice total</H2>
          <p class='text-2xl'>{priceFormatter.format(total)}</p>
          <p class='flex text-sm'>
            Issued at&nbsp;
            <Highlight>{issuedAt}</Highlight>
            , due by&nbsp;
            <Highlight>{dueDate}</Highlight>
          </p>
        </section>
      </div>
    </main>
    <div class='grid grid-cols-3 gap-8'>
      <section class='col-span-2 flex flex-col'>
        <H2>Banking details</H2>
        <div class='grid grid-cols-2 gap-8'>
          <div class='grid gap-4'>
            <section>
              <H3>Beneficiary Customer</H3>
              <List>
                <LabeledListItem label='Name'>
                  {beneficiaryCustomer.name}
                </LabeledListItem>
                <LabeledListItem label='IBAN'>
                  {beneficiaryCustomer.IBAN}
                </LabeledListItem>
                <LabeledListItem label='Address'>
                  {addressFormatter.format(beneficiaryCustomer)}
                </LabeledListItem>
                <LabeledListItem label='State & Country'>
                  {locationFormatter.format(beneficiaryCustomer)}
                </LabeledListItem>
              </List>
            </section>
            <section>
              <H3>Beneficiary Bank</H3>
              <List>
                <LabeledListItem label='Bank Name'>
                  {beneficiaryBank.name}
                </LabeledListItem>
                <LabeledListItem label='SWIFT Code'>
                  {beneficiaryBank.swiftCode}
                </LabeledListItem>
                <LabeledListItem label='Address'>
                  {addressFormatter.format(beneficiaryBank)}
                </LabeledListItem>
                <LabeledListItem label='State & Country'>
                  {locationFormatter.format(beneficiaryBank)}
                </LabeledListItem>
              </List>
            </section>
          </div>
          <div>
            <H3>Intermediary Bank</H3>
            <List>
              <LabeledListItem label='Bank Name'>
                {intermediaryBank.name}
              </LabeledListItem>
              <LabeledListItem label='Account Holder'>
                {intermediaryBank.accountHolder}
              </LabeledListItem>
              <LabeledListItem label='Account Number'>
                {intermediaryBank.accountNumber}
              </LabeledListItem>
              <LabeledListItem label='SWIFT Code'>
                {intermediaryBank.swiftCode}
              </LabeledListItem>
              <LabeledListItem label='State & Country'>
                {locationFormatter.format(intermediaryBank)}
              </LabeledListItem>
            </List>
          </div>
        </div>
      </section>
      <section class='flex flex-col'>
        <H2>Work description</H2>
        <Pre>{description}</Pre>
      </section>
    </div>
  </body>
  <footer class='mt-auto flex flex-row justify-end'>
    <Watermark currentYear={currentYear} />
  </footer>
</html>
